body { margin: 0; padding: 0; overflow: hidden; /* 스크롤을 방지하기 위해 */ cursor: none; /* 기본 커서를 숨깁니다 */ }

.cursor, .trailing-cursor { position: absolute; width: 20px; height: 20px; border-radius: 50%; background-color: var(--main-color); pointer-events: none; transition: transform 0.15s ease-out; }

.trailing-cursor { width: 40px; height: 40px;background-color: var(--main-color); opacity: 0.5; transition: transform 0.3s ease-out; }